<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Meetwise</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c8c7d">  <td>21/01/03 02:01:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;day1.first()[pri:0, instance:me.day1@37883b97]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="9c8c7d">  <td>21/01/03 02:01:46</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day1.demo()[pri:0, instance:me.day1@37883b97]">demo</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="9c8c7d">  <td>21/01/03 02:01:46</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day1.hm()[pri:0, instance:me.day1@37883b97]">hm</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="9178b0">  <td>21/01/03 02:01:46</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day2.no()[pri:0, instance:me.day2@6ab778a]">no</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="9c8c7d">  <td>21/01/03 02:01:46</td>   <td>76</td> <td>&nbsp;</td><td title="&lt;&lt;day1.last()[pri:0, instance:me.day1@37883b97]">&lt;&lt;last</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
</table>
